<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- 极光 AppKey：在 android/local.properties 中设置 JPUSH_APPKEY=你的Key -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" />
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />
    </application>
</manifest>
